<section class="cover fullscreen image-bg parallax overlay overlay-light">
    <div class="background-image-holder">
        <img class="background-image" src="../resources/img/portada.jpg" alt="imagen">
    </div>
    <div class="container v-align-transform">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="text-center">
                    <h1 class="hero-title mb0 mb-xs-0 bold">
                        <span>¡Nos Casamos!</span>
                    </h1>
                    <h2 class="nombres"><span>Pilar & Agustín</span></h2>

                    <h3 class="date animated bounceIn" data-wow-duration="2s" data-wow-delay="1s">
                        <span>{{data.weddingDate | date : "EEEE dd 'de' MMMM HH:mm 'hs'"}}</span>
                    </h3>

                    <div class="countdown mb12 animated bounceIn">
                        <span>Faltan {{countdownDays}} días {{("0"+countdownHours).slice(-2)}}:{{("0"+countdownMinutes).slice(-2)}}:{{("0"+countdownSeconds).slice(-2)}}</span>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


<!-- Informacion -->
<section id="infoc">
    <div class="container">
        <div class="row" id="info" style="margin: 0;">

            <div class="has-image col-md-6 col-sm-12 nopadding order-1">
                <div class="img-container" style="background-image: url(../resources/img/santa_rita.jpg) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;height:100%;min-height: 250px;">
                </div>
            </div>
            <div class="has-content text-center col-md-6 col-sm-12 nopadding order-sm-1">
                <div class="feature feature-top">
                    <div class="text-center">
                        <h5 class="uppercase"> Ceremonia</h5>
                    </div>
                    <p>Las mejores cosas de la vida merecen ser compartidas. <br>Los invitamos a las 20:00 hs a nuestra
                        ceremonia en la<br>
                        <b>Parroquia Santa Rita</b><br><br>
                        Darragueira 630, Boulogne | CP 1609 | San Isidro</p>
                    <a class="btn btn-filled btn-lg mb0" target="_blank" href="https://goo.gl/maps/XndECaM5abaDz4U68">Cómo
                        Llegar</a>

                </div>
            </div>
        </div>

        <div class="row" id="infob" style="margin: 0;">

            <div class="has-content text-center col-md-6 col-sm-12 order-md-1">
                <div class="feature">
                    <div class="text-center">
                        <h5 class="uppercase"> Fiesta</h5>
                    </div>
                    <p>
                        Después de la ceremonia los esperamos para festejar a partir de las 21:30 hs en<b>
                        San Isidro Park</b> <br><br>
                        Obispo Terrero 3380 | Blanco Encalada al 100 | San Isidro</p>
                    <a class="btn btn-filled btn-lg mb0" target="_blank"
                       href="https://g.page/sanisidroparkeventos?share">Cómo
                        Llegar</a>
                    <p class="confirmar-asistencia-pad">No olviden <span class="confirmar-asistencia-label">confirmar su presencia</span>.
                    </p>
                    <a class="btn btn-filled btn-lg mb0" ng-click="openModal()">Confirmar asistencia</a>
                    <div>


                    </div>
                </div>
            </div>

            <div class="has-image col-md-6 col-sm-12 order-md-2 order-1 nopadding">
                <div class="img-container" style="background-image: url(../resources/img/san_isidro_park.jpg) !important;
                        background-position: center !important;
                      	background-repeat: no-repeat !important;
                      	background-size: cover !important;height:100%;min-height: 250px;">
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Regalo -->
<section id="regalo">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 regalo-txt order-md-2" style="text-align:center;z-index: 99;">

                <div class="section-heading" style="margin-top:-10px;">

                    <img class="wow bounceIn" data-wow-duration="1s" src="../resources/img/giftbox.png" width="80px"
                         alt=""
                         style="padding:5px;margin-bottom:15px;">

                    <h2 class="uppercase mb8"></h2>
                </div>
                <p class=" mb16"><b>¿QUERÉS HACERNOS UN REGALO?</b><br>Podés ayudarnos con nuestra Luna de Miel y
                    próxima aventura <br>haciéndonos
                    un depósito a nuestra cuenta
                    <br>

                <div class="datos mb8" ng-show="data.displayDatosCuenta">
                    Banco BBVA Frances
                    <br>Alias: AGUS.PILI.BODA
                    <br>CBU: 0170099240000061819634
                    <br>Titular: Agustin Cassinotti
                </div>
                ¡Muchas Gracias!
                </p>

                <a class="btn btn-filled btn-lg mb0" ng-click="toggleDatosCuenta()">{{data.displayDatosCuenta ?
                    "Ocultar" : "Ver"}} datos</a>

            </div>
            <div class="col-lg-6 regalo-pic order-md-1">
                <img src="../resources/img/regalo.jpg" alt="" class="margin1 img-photo rotate2 img-responsive polaroid">
            </div>
        </div>
    </div>
</section>

<!-- Galeria -->
<section class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="widget-title title-album mb16">Pilar y Agustín</h3>
                <p class="mb40 mb-xs-24">
                    Nuestra historia... </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="lightbox-grid square-thumbs" data-gallery-title="Gallery">
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/1.jpg" data-lightbox="Gallery">
                            <div class="background-image-holder fadeIn">
                                <img alt="image" class="background-image" src="../resources/img/1.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/2.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/2.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/3.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/3.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/4.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/4.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/5.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/5.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/6.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/6.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/7.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/7.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/8.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/8.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/9.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/9.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/10.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/10.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/11.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/11.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/12.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/12.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/13.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/13.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/14.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/14.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInLeft" data-wow-duration="1s">
                        <a href="../resources/img/15.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/15.jpg">
                            </div>
                        </a>
                    </div>
                    <div class="item col-md-3 col-6 wow wow-mobile slideInRight" data-wow-duration="1s">
                        <a href="../resources/img/16.jpg" data-lightbox="true">
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="../resources/img/16.jpg">
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Confirmacion -->
<section class="page-title section-3 parallax image-bg overlay" id="confirmar-asistencia" style="height: 100%;">
    <div class="background-image-holder">
        <img alt="footer" class="background-image" src="../resources/img/confirmacion.jpg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div>
                    <h3 class="uppercase mb0 bold">¡LOS ESPERAMOS!</h3>
                    <p></p>
                    <p class="mb40 mb-xs-24 conf">
                        <b>Por favor confirmar asistencia por este medio, lo antes posible <br>¡Gracias!</b>
                    </p>

                    <a class="btn btn-filled btn-lg mb0" ng-click="openModal()">Confirmar asistencia</a>
                </div>
            </div>
        </div>

    </div>

</section>

<footer class="footer-2 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-center mb64 mb-xs-24">

                <h6>Por favor, si tenés alguna pregunta, necesitás aclararnos algo, o simplemente quedés dejarnos un mensajito, ¡¡¡no dudes en escribirnos!!!</h6>
                <span><a href="mailto:agusypilu@hotmail.com">agusypilu@hotmail.com</a></span>
            </div>
        </div>
    </div>
</footer>
